apiVersion: batch/v1
kind: Job
metadata:
  name: gennet-analysis-job
  namespace: gennet-workflows
spec:
  template:
    spec:
      containers:
      - name: analysis-worker
        image: gennet/ml-service:latest
        resources:
          requests:
            memory: "4Gi"
            cpu: "2"
          limits:
            memory: "8Gi"
            cpu: "4"
        env:
        - name: JOB_ID
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
      restartPolicy: Never
  backoffLimit: 3

